.about, .works-title, .contact, .img{
    opacity:0;
    visibility:hidden;
    transform: translateY(20vh);
    transition:.50s ease-in-out;
}

.about.is-visible, .works-title.is-visible, .contact.is-visible, .img.is-visible {
    opacity:1;
    visibility:visible;
    transform:none;
}